
 /*Exercise 1.2*/
.nav {
  background-color: black;
  margin: 0;
  padding:15px;
  }

 /*Exercise 1.4*/
  .nav li {
  background-color: grey;
  display: inline-block;
  padding:10px;
	}

  .wrapper {
  text-align: center;
}

 /*Exercise 1.7*/
 .box {
  float: left;
  width: 50%;
}

