
 /*Exercise 1.2*/
.nav {
  background-color: black;
  margin: 0;
  padding:15px;
  }

 /*Exercise 1.4*/
  .nav li {
  background-color: grey;
  display: inline-block;
  padding:10px;
	}

 /*Exercise 1.4*/
 .box {
  float: left;
  width: 50%;
}
.box p {
  background-color: tomato;
  border: 5px solid black;
  padding: 25px;
}
