/*Exercise 5.6*/
.navbar {
  margin: 0;
}

/*Exercise 5.7*/
.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

/*Exercise 5.8*/
.btn-primary, .btn-default {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}
.btn-primary:hover, .btn-default:hover {
    color: #fff;
    background-color: #18b495;
    border-color: #18b495;
}
/*Exercise 5.9*/
.content-img {
  width: 100%;
  height: 150px;
}
