/*Exercise 2.12
*/body {
  margin: 0;
}
/*Exercise 2.13*/
ul {
  padding: 0;
}
/*Exercise 2.14*/
h1 {
  font-size: 2em;
}

nav.navigation {
  background-color: #3F7CAC;
  margin: 0;
  padding:15px;
  text-align: center;
}

nav.navigation li,
footer li {
  background-color: #E2F89C;
  display: inline-block;
  margin: 0 15px;
  padding:10px;
}